
.intro__quantity{
    margin: 0px;
    padding: 0px;
    max-width: 690px;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: left;
    font-style: normal;
    font-weight: 400;
}