.photo-grid__item6{
    background-color: #A61C1C;
 }
 @media screen and (max-width:992px) {
    .photo-grid__item6{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;    
    }

}
@media screen and (max-width:768px) {
    .photo-grid__item6{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;    
    }

}