.intro__title{
    margin: 0px;
    max-width: 690px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 109%;
    text-align: left;
    color: #FFFFFF;
}


@media screen and (max-width:768px) {
   
    .intro__title{
        font-size: 7vw;
        line-height: 109%;
}
    }
@media screen and (max-width:320px) {

    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
}