.photo-grid{
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 35.7%  15.609% 12.8% 17.6% 18.1%;
    grid-template-rows: 288px 185px 247px;
     
    
  }

  @media screen and (max-width:992px) {
    .photo-grid{
        max-width: 992px;
        grid-template-columns: 40% 30% 30% ;
        grid-template-rows:  288px 185px 247px 433px;
    }

}
@media screen and (max-width:768px) {
    .photo-grid{
        grid-template-columns: 50% 50%;
        grid-template-rows:  288px 185px 247px 433px 247px 488px;
        max-width: 768px;
     
    }
}
@media screen and (max-width:320px) {
    .photo-grid{
        
        max-width: 320px;
        grid-template-rows:  200px 185px 247px 433px 200px 188px 100px;
    }
}
