.photo-grid__item9{ 
    background-color: #A6806B;
 }

 @media screen and (max-width:768px) {
    .photo-grid__item9{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;    
    }

}